# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE settings
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
# Generated feature files
Fashion-Recomendation-System-Visual-Similarities/image_features.npy
Fashion-Recomendation-System-Visual-Similarities/image_ids.npy

# Python
__pycache__/
*.pyc

# Streamlit temp
temp_query.jpg